.coverimage{
    float:left;
    height:300px;
    width:200px;
    margin: 0 20px 0 0;
    border: solid 2px #99A63C;
    border-radius:10px;
}
.text{
  font-family:arial;
  color:#4C591E;
  display:inline;
  font-size:24px;
  width:100%;

}
.box{
  display:flex;
  margin: 20px 60px 20px 60px;
  width:100%;
}
