body {
	background-color: #F2F2F2;
	margin: 0;
	padding:0;
	overflow-x:hidden;
}

.logo {
	height: 200px;
	margin:0;
	border: none 1px black;
	border-radius: 0px;
	margin:10px;
	flex-basis: auto;
}

.pagehead {
	
	width:100%;
	
	border: 4px #d5e8f0;
	border-radius: 0;
	display:flex;
	flex-direction:row;
	margin:0;
	padding:10px;
	justify-content: center;
	align-items:center;
	flex-wrap: rap;

}

.navigation{
	height:50px;
	width:100%;
	display:flex;
	justify-content: space-around;
	align-content:center;
	align-items:center;
}
.navbutton{
	border: none 1px black;
	background:#F2F2F2;
	padding:12px 7px 12px 7px;
	color:#4C591E;
	font-family:arial;
}
.navbutton:active {
   	 outline:none;
	border: none;
}
.navbutton:focus {
   	 outline:none;
	border: none;
}

.navscreen{
	background-color: #66ADD9;
}
	
	


.navbutton:hover{
	/* background-color: */
	text-decoration: underline overline;
	text-decoration-color: #99A63C;
	text-decoration-thickness:5px;
	cursor: grab;
		
}

.blank{
	width:100%;
	height:60px;
	
	
}

.divsale{
	height:60px;
	display:flex;
	background-color:#735F22;
	border:0;
	border-radius:0;
	width:100%;
	flex-Direction:row;
	justify-content:center;
	align-items:center;
	align-content:center;
}
	

.sale{
	font-family:  Comic Sans MS;
	color: white;
	text-align: center;
	padding: 0;
	position:relative;
	margin:auto;
	display:block;
	
}
.title {
  font-size:45px;
  color:#4C591E;
  font-family:georgia;
  display:inline-block;
  margin: 20px 20px 20px 60px;
}

.footer{
	display:flex;
	flex-direction: column;
	justify-content:space-around;
	align-items:center;
	position:absolute;
	botttom:0;
	right:0;
	width:100%;
	background:#66ADD9;
}
.footeritem{
	display:flex;
	justify-content:space-around;
	align-items:center;
	
}
.footerlogo{
	width:20px;
	height:20px;
	margin:10px;
	filter: brightness(1.3);
	
}
.footertext{
	color:white;
	font-family:arial;
	text-align:center;
	margin:0 0 8px 0;
}
.footerbutton{
	outline:none;
	border: none;
	background:none;
}

.footerbutton:hover{
	filter: brightness(1.6);
	cursor: grab;
	background:none;
}
.footerbutton:active {
   	 outline:none;
	border: none;
	background:none;
}
.footerbutton:focus {
   	 outline:none;
	border: none;
	background:none;
}
.fc{
	position: relative;
	min-height: 100vh;
}
