.title {
  font-size:45px;
  color:#4C591E;
  font-family:georgia;
  display:inline-block;
  margin: 20px 20px 20px 60px;
}

.bigdiv{
  width:100%;
  display:flex;
  justify-content:space-around;
  
}
.shopitem{
  padding: 15px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background-color:white;
  border-radius:10px;
  border:solid 2px #99A63C;
}
.shopimage{
  width:200px;
  height:200px;
}
.shoptext{
  font-family:arial;
  color:#4C591E;
  display:inline-block;
}
.price{
  font-family:arial;
  color: black;
}
.addtocart{
  color:#4C591E;
  background-color:#66ADD9;
  border: solid 2px #608da8;
  border-radius: 3px;
}
p{
  display:inline;
}
.cartpic{
  width:75px;
  heihgt:75;
  position:sticky;
  float:right;
  left:80%;
}
