.title {
  font-size:45px;
  color:#4C591E;
  font-family:georgia;
  display:inline-block;
  margin: 20px 20px 20px 60px;
}

.bigdiv{
  width:100%;
  display:flex;
  justify-content:space-around;
  
}
.shopitem{
  padding: 15px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background-color:white;
  border-radius:10px;
  border:solid 2px #99A63C;
}
.shopimage{
  width:200px;
  height:200px;
}
.shoptext{
  font-family:arial;
  color:#4C591E;
  display:inline-block;
  margin: 21px 0 16px 0;
}
.price{
  font-family:arial;
  color: black;
  margin: 0 0 16px 0;
}
.addtocart{
  color:#4C591E;
  background-color:#66ADD9;
  border: solid 2px #608da8;
  border-radius: 3px;
}
.ps{
 display:inline;
	text-align:center;
}
.cartpic{
  width:50px;
  height:50px;
  padding: 7px 0 0 9px;
}
.cartcount{
    position:absolute;
    float:right;
    font-size:12px;
    margin:0;
    font-family:arial;
    color:white;
    padding:5px;
    border-radius:40px;
    background-color:#99A63C;
  
}

.cart{
  position: -webkit-sticky;
  position:sticky;
  float:right;
  margin:20px 20px 0 0;
  display:flex;
}
/* Button Disable */
.bd{
  background:none;
  border:none;
}
.bd:active {
   	 outline:none;
	border: none;
  background:none;
}
.bd:focus {
   	 outline:none;
	border: none;
  background:none;
}
.bd:hover{
  outline:none;
	border: none;
  background:none;
  cursor: grab;
	filter: brightness(1.2);
	filter: drop-shadow(10px 16px 15px red) invert(75%);
}
.checkoutdiv{
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	margin: 10px 0 20px 0;
}
.checkoutbutton{
  color:#4C591E;
  background-color:#99A63C;
  border: solid 2px #66ADD9;
  border-radius: 3px;
  font-size:20px;
}
.checkoutbutton:active {
   	 outline:none;
	
}
.checkoutbutton:focus {
   	 outline:none;
	
}
.checkoutbutton:hover{ 
	cursor: grab;
}
.checkoutbackground{
	width:100%;
	height:100%;
	position:fixed;
	left:0;
	top:0;
	background-color: rgba(0,0,0,0.4);
	opacity: 1;
	display:flex;
	justify-content:center;
	align-items:center;
	z-index:10;
}
.checkoutscreen{
	opacity: 1;
	height:50%;
	width:70%;
	padding: 15px;
  	display:flex;
 	flex-direction:column;
  	justify-content:space-around;
 	align-items:center;
  	background-color:white;
 	border-radius:10px;
  	border:solid 2px #99A63C;
	z-index:11;
	
}
.closebutton{
  color:#4C591E;
  background-color:#99A63C;
  border: solid 2px #66ADD9;
  border-radius: 3px;
  font-size:20px;
	align-content:center;
	align-self:center;
}
.pc{
	display:inline-block;
	text-align:center;
}
