body {
	background-color: #F2F2F2;
	margin: 0;
	padding:0;
}

.logo {
	height: 100px;
	
	border: solid 1px black;
	border-radius: 3px;
	margin:4px;
	flex-basis: 5%
}

.cont {
	
	width:100%;
	
	border: 4px #d5e8f0;
	border-radius: 0;
	display:flex;
	flex-direction:row;
	margin:0;
	padding:0;
	justify-content: space-between;
	align-items:center;
	flex-wrap: rap;
	height:150px
}

.it {
	height: 50px;
	border-radius: 1px;
	margin:5px;
	color: #99A63C;
	font-size:40px;
	font-family: MV Boli;
	display:inline;
	position: relative;
	border: 1px black;
	flex:2 2 auto;
	text-align: center;
}

.top {
	height:50px;
	border: none;
	background-color: #66ADD9;
	border-radius: 0;
	width:100%;
	display:flex;
	justify-content:end;
}

.sale{
	font-family: NSimSun;
	color: white;
	background-color:#735F22;
	text-align: center;
	padding: 10px 0 10px 0;
	width:100%

}
border: solid 1px black;
border-radius: 10px;
