body {
	background-color: #292728;
}

div {
	width: 100%;
	height: 5%;
	background: linear-gradient(45deg #5ea43a #52904b;
}

img {
	width: 10%;
	height: same-as-width;
	border: solid 1px black;
	border-radius: 20px;
	float: left;
	
}

.title {
	border: solid 1px #52904b;
	font-family: serif;
	color: #d1626c;
	text-align: center;
	border-radius: 5px;
	font-size: 100px;
	display: inline-block;
}

