body {
	background-color: #87ceeb;
}

img {
	height: 100px;
	width: 100px;
	border: solid 1px black;
	border-radius: 10px;
	margin:5px;
}

.text {
	padding: 5px 30px 5px 30px;
	border: solid 1px #0000cd;
	font-family: helvetica;
	color: #d1626c;
	text-align: center;
	font-size: 100px;
}

.cont {
	height: 112px;
	width:100%;
	background: linear-gradient( 45deg, skyblue, #94d1eb);
	border: solid 4px #d5e8f0;
	border-radius: 10px;
	display:flex;
}

.it {
	height: 102px;
	border: solid 2px black;
	border-radius: 1px;
	margin:5px;
	color: #d1626c;
	font-size:100px;
	font-family: helvetica;
}
