body {
	background-color: #292728;
}

img {
	height: 100px;
	width: 100px;
	border: solid 1px black;
	border-radius: 20px;
}

h1 {
	padding: 5px 5px 5px 5px;
	border: solid 1px #52904b;
	background-color: #ffffff;
	font-family: serif;
	color: #d1626c;
	text-align: center;
	border-radius: 5px;
}

h1, img {
	display: inline;
}
