body {
	background-color: #87ceeb;
}

img {
	height: 50px;
	width: 50px;
	border: solid 1px black;
	
	margin:4px;
}

.cont {
	height: 59px;
	background: linear-gradient( 45deg, skyblue, #94d1eb);
	border: solid 4px #d5e8f0;
	border-radius: 10px;
	display:flex;
	flex-direction:row;
	margin:5px;
	display:inline-block
}

.it {
	height: 40px;
	border-radius: 1px;
	margin:5px;
	color: #d1626c;
	font-size:70px;
	font-family: helvetica;
	display:inline;
	position: relative;
	bottom: 25%;
}

border: solid 1px black;
border-radius: 10px;
