.bigdiv{
  width:100%
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  align-items:center;
}
.map{
  border:solid 2px #99A63C;
  border radius:10px;
}

.visit{
  color:#4C591E;
  font-family:arial;
}
.address{
}
